@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    width: 80vw;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main label{
    width: 100%;
}

#inputTarefa{
    width: 100%;
    border: none;
    padding: 5px 0px 5px 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 12pt;
}

#inputTarefa:focus{
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px #000000f3;
}

#btnAdd{
    width: 100%;
    height: 29px;
    color: white;
    background-color: #f64348;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    border-radius: 2px;
    cursor: pointer;
}

#btnAdd:hover{
    background-color: #fc656a;
}